version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/nestjs_db?schema=public
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nestjs_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: